<div style="padding-top: 2%;padding-bottom:3%;">
    <!-- POSTMAN attacks -->
    <div class="container" style="padding-bottom: 1%;">
        <h1 style="color: white">
            <img class="navbar-toggler-icon" src="/img/logo-postman.png"/>
            Postman Attacks
        </h1>
    </div>
    <div class="container" style="padding-bottom:1%;">
        <alert class="alert alert-primary" ng-repeat="alert in alerts">
            {{alert.msg}}
        </alert>
    </div>
    <!-- CONTAINER -->
    <div class="container" style="background-color: rgb(46, 49, 49); padding-bottom: 3%; border-radius: 20px;box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.52);">
        <!-- NAVBAR -->
        <nav class="navbar navbar-expand-md navbar-dark info-color" style="background-color: #2e3131;">
            <a class="navbar-brand" href="../../../">
                Inicio
            </a>
            <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon">
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto" style="background-color: #2e3131;">
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-light" href="./advanced-options/get.html">
                            Opciones avanzadas
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div style="padding-bottom:2%;">
                <button class="btn btn-primary" ng-click="loadinitial()">
                    Cargar datos iniciales
                </button>
                <button class="btn btn-danger" ng-click="del()">
                    Eliminar todo
                </button>
            </div>
            <div style="padding-bottom:2%;">
                <input class="form-control text-center" ng-model="from" placeholder="Desde" style="display:inline; width:100px;"/>
                <input class="form-control text-center" ng-model="to" placeholder="Hasta" style="display:inline; width:100px;"/>
                <button class="btn btn-info" ng-click="getFromTo(from,to)" style="display:inline; width:100px;">
                    Buscar
                </button>
                <input class="form-control text-center" ng-model="countrySearch" placeholder="País" style="display:inline; width:100px; margin-left: 3%;"/>
                <button class="btn btn-info" ng-click="getCountry(countrySearch)" style="display:inline; width:100px;">
                    Buscar
                </button>
            </div>
            <div class="table-responsive-xl" style="background-color:white;">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">
                                País
                            </th>
                            <th scope="col">
                                Año
                            </th>
                            <th scope="col">
                                Tipo de ataque
                            </th>
                            <th scope="col">
                                Impacto en millones
                            </th>
                            <th scope="col">
                                Equipos afectados
                            </th>
                            <th scope="col">
                                Porcentaje general
                            </th>
                            <th scope="col" style="width:20%;">
                                Opciones
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="attack in attacks | orderBy:'+year' | orderBy:'+country' ">
                            <td>
                                <input class="form-control text-center" ng-model="attack.country" readonly=""/>
                            </td>
                            <td>
                                <input class="form-control text-center" ng-model="attack.year" readonly=""/>
                            </td>
                            <td>
                                <input class="form-control text-center" ng-model="attack.attacktype"/>
                            </td>
                            <td>
                                <input class="form-control text-center" ng-model="attack.economicimpactmillions"/>
                            </td>
                            <td>
                                <input class="form-control text-center" ng-model="attack.affectedequipments"/>
                            </td>
                            <td>
                                <input class="form-control text-center" ng-model="attack.overallpercentage"/>
                            </td>
                            <td>
                                <button class="btn btn-danger" ng-click="delTable(attack.country,attack.year,attack.attacktype)">
                                    Eliminar
                                </button>
                                <button class="btn btn-warning" ng-click="putTable(attack.country,attack.year,attack.attacktype,attack.economicimpactmillions,attack.affectedequipments,attack.overallpercentage)">
                                    Actualizar
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-control text-center" ng-model="country"/>
                            </td>
                            <td>
                                <input class="form-control text-center" ng-model="year"/>
                            </td>
                            <td>
                                <input class="form-control text-center" ng-model="attacktype"/>
                            </td>
                            <td>
                                <input class="form-control text-center" ng-model="economicimpactmillions"/>
                            </td>
                            <td>
                                <input class="form-control text-center" ng-model="affectedequipments"/>
                            </td>
                            <td>
                                <input class="form-control text-center" ng-model="overallpercentage"/>
                            </td>
                            <td>
                                <button class="btn btn-primary" ng-click="postTable(country,year,attacktype,economicimpactmillions,affectedequipments,overallpercentage)">
                                    Crear
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="btn-group" style="background-color:white;border-radius:7px; margin-left:45%;">
                <button class="btn btn-default" ng-click="retroceder()" ng-disabled="offset == 0" type="button">
                    «
                </button>
                <button class="btn btn-default" ng-click="avanzar()" ng-disabled="offset + limit >= datos" type="button">
                    »
                </button>
            </div>
        </div>
    </div>
</div>