<div style="padding-top: 2%;padding-bottom:3%;">
    <!-- CONTAINER -->
    <div class="container" style="background-color: rgb(46, 49, 49);padding:1% 1% 1% 1%; border-radius: 20px;box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.52);">
        <div style="padding-bottom:2%;">

            <div style="display:inline-block" ng-click="active = !active" ng-class="{'expandcollapse-heading-collapsed': active, 'expandcollapse-heading-expanded': !active}">
                <p>Highcharts</p>
            </div>

            <div style="display:inline-block" ng-click="active1 = !active1" ng-class="{'expandcollapse-heading-collapsed': active1, 'expandcollapse-heading-expanded': !active1}">
                <p>Geochart</p>
                </p>
            </div>

        </div>
        <div class="expandcollapse-item">
            <div class="slideDown" ng-hide="active">
                <div id="containerGrafica" style="min-width: 310px; height: 400px; margin: 0 auto" class="expand-collapse-content">
                    <script type="text/javascript">
                        Highcharts.chart('containerGrafica', {
                            chart: {
                                type: 'area'
                            },
                            title: {
                                text: 'Historic and Estimated Worldwide Population Growth by Region'
                            },
                            subtitle: {
                                text: 'Source: Wikipedia.org'
                            },
                            xAxis: {
                                categories: ['1750', '1800', '1850', '1900', '1950', '1999', '2050'],
                                tickmarkPlacement: 'on',
                                title: {
                                    enabled: false
                                }
                            },
                            yAxis: {
                                title: {
                                    text: 'Billions'
                                },
                                labels: {
                                    formatter: function() {
                                        return this.value / 1000;
                                    }
                                }
                            },
                            tooltip: {
                                split: true,
                                valueSuffix: ' millions'
                            },
                            plotOptions: {
                                area: {
                                    stacking: 'normal',
                                    lineColor: '#666666',
                                    lineWidth: 1,
                                    marker: {
                                        lineWidth: 1,
                                        lineColor: '#666666'
                                    }
                                }
                            },
                            series: [{
                                name: 'Asia',
                                data: [502, 635, 809, 947, 1402, 3634, 5268]
                            }, {
                                name: 'Africa',
                                data: [106, 107, 111, 133, 221, 767, 1766]
                            }, {
                                name: 'Europe',
                                data: [163, 203, 276, 408, 547, 729, 628]
                            }, {
                                name: 'America',
                                data: [18, 31, 54, 156, 339, 818, 1201]
                            }, {
                                name: 'Oceania',
                                data: [2, 2, 2, 6, 13, 30, 46]
                            }]
                        });
                    </script>
                </div>
            </div>
            <div class="slideDown" ng-hide="active1">
                <div class="expand-collapse-content">
                    Geochart graphic
                </div>
            </div>
        </div>
    </div>
</div>
</div>
