<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg fixed-top info-color" style="background-color: #2e3131;">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" style="background-color: #2e3131;">
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light" href="#!/">
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light" href="#!/ui/v1/companies">
                    Companies
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light" href="#!/ui/v1/country-stats">
                    Country Stats
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light" href="#!/ui/v1/computer-attacks-stats">
                    Computer Attacks Stats
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light" href="#!/about">
                    About
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light" href="#!/analytics">
                    Analytics
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light" href="#!/integrations">
                    Integrations
                </a>
            </li>
        </ul>
    </div>
</nav>
<div style="padding-top:4%;padding-bottom:3%;">
    <div class="container" style="padding-bottom:1%;">
        <alert class="alert alert-primary" ng-repeat="alert in alerts">
            {{alert.msg}}
        </alert>
    </div>
    <!-- CONTAINER -->
    <div class="container" style="background-color: rgb(46, 49, 49); padding-bottom: 3%; border-radius: 20px;box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.52);">
        <div class="container" style="padding-top:2%">
            <div style="padding-bottom:2%;">
                <button class="btn btn-primary" ng-click="loadinitial()">
                    Cargar datos iniciales
                </button>
                <button class="btn btn-danger" ng-click="del()">
                    Eliminar todo
                </button>
            </div>
            <!-- FILTROS -->
            <div style="padding-bottom:2%;">
                <h4 style="color:white; display:inline;">
                    Filtros:
                </h4>
                <input aria-label="Toggle ngShow" ng-model="checked" type="checkbox">
                    <br/>
                    <div class="check-element animate-show-hide" ng-show="checked" style="padding-top:1%;">
                        <h6 style="color:white;margin-left:2%;margin-top:1%;">
                            País:
                        </h6>
                        <div class="row" style="margin-left:2%;">
                            <div class="column">
                                <input class="form-control text-center" ng-model="countrySearch" placeholder="País" style="display:inline; width:100px; margin-left: 3%;"/>
                            </div>
                        </div>
                        <h6 style="color:white;margin-left:2%;margin-top:1%;">
                            Año:
                        </h6>
                        <div class="row" style="margin-left:2%;margin-top:1%;">
                            <div class="column">
                                <input class="form-control text-center" ng-model="from" placeholder="Desde" style="display:inline; width:100px;"/>
                            </div>
                            <div class="column" style="margin-left:1%">
                                <input class="form-control text-center" ng-model="to" placeholder="Hasta" style="display:inline; width:100px;"/>
                            </div>
                        </div>
                        <h6 style="color:white;margin-left:2%;margin-top:1%;">
                            Extensión de fronteras
                        </h6>
                        <div class="row" style="margin-left:2%;margin-top:1%;">
                            <div class="column">
                                <input class="form-control text-center" ng-model="minext" placeholder="Desde" style="display:inline; width:100px;"/>
                            </div>
                            <div class="column" style="margin-left:1%">
                                <input class="form-control text-center" ng-model="maxext" placeholder="Hasta" style="display:inline; width:100px;"/>
                            </div>
                        </div>
                        <h6 style="color:white;margin-left:2%;margin-top:1%;">
                            Población
                        </h6>
                        <div class="row" style="margin-left:2%;margin-top:1%;">
                            <div class="column">
                                <input class="form-control text-center" ng-model="minpop" placeholder="Desde" style="display:inline; width:100px;"/>
                            </div>
                            <div class="column" style="margin-left:1%">
                                <input class="form-control text-center" ng-model="maxpop" placeholder="Hasta" style="display:inline; width:100px;"/>
                            </div>
                        </div>
                        <h6 style="color:white;margin-left:2%;margin-top:1%;">
                            Superficie
                        </h6>
                        <div class="row" style="margin-left:2%;margin-top:1%;">
                            <div class="column">
                                <input class="form-control text-center" ng-model="minter" placeholder="Desde" style="display:inline; width:100px;"/>
                            </div>
                            <div class="column" style="margin-left:1%">
                                <input class="form-control text-center" ng-model="maxter" placeholder="Hasta" style="display:inline; width:100px;"/>
                            </div>
                        </div>
                        <button class="btn btn-info" ng-click="getFilters(countrySearch, from, to, minext, maxext, minpop, maxpop, minter, maxter)" style="display:inline; width:100px;margin-top:1%;margin-left:2%;">
                            Buscar
                        </button>
                    </div>
                </input>
            </div>
            <!-- FIN FILTROS -->
            <div class="table-responsive-xl" style="background-color:white;">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">
                                País
                            </th>
                            <th scope="col">
                                Año
                            </th>
                            <th scope="col">
                                Extensión de fronteras
                            </th>
                            <th scope="col">
                                Población
                            </th>
                            <th scope="col">
                                Superficie
                            </th>
                            <th scope="col" style="width:20%;">
                                Opciones
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="stat in stats">
                            <td>
                                <a href="#!/ui/v1/country-stats/update/{{stat.country}}/{{stat.year}}">
                                    {{ stat.country }}
                                </a>
                            </td>
                            <td>
                                {{stat.year}}
                            </td>
                            <td>
                                {{stat.extensionOfBorders}}
                            </td>
                            <td>
                                {{stat.population}}
                            </td>
                            <td>
                                {{stat.territorialExtension}}
                            </td>
                            <td>
                                <button class="btn btn-danger" name="BorrarStat" ng-click="delTable(stat.country,stat.year)">
                                    Eliminar
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input id="country" class="form-control text-center" ng-model="country"/>
                            </td>
                            <td>
                                <input id="year" class="form-control text-center" ng-model="year"/>
                            </td>
                            <td>
                                <input id="extensionOfBorders" class="form-control text-center" ng-model="extensionOfBorders"/>
                            </td>
                            <td>
                                <input id="population" class="form-control text-center" ng-model="population"/>
                            </td>
                            <td>
                                <input id="territorialExtension" class="form-control text-center" ng-model="territorialExtension"/>
                            </td>
                            <td>
                                <button class="btn btn-primary" name="CrearStat" 
                                ng-click="postTable(country,year,extensionOfBorders,population,territorialExtension);
                                clearInput()">
                                    Crear
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="btn-group" style="background-color:white;border-radius:7px; margin-left:45%;">
                <button class="btn btn-default" name="Retroceder" ng-click="retroceder()" ng-disabled="offset == 0" type="button">
                    «
                </button>
                <button class="btn btn-default" name="Avanzar" ng-click="avanzar()" ng-disabled="offset + limit >= datos" type="button">
                    »
                </button>
            </div>
        </div>
    </div>
</div>