<div style="padding-top: 2%;padding-bottom:3%;">
    <!-- CONTAINER -->
    <div class="container" style="background-color: rgb(46, 49, 49);padding:1% 1% 1% 1%; border-radius: 20px;box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.52);">
        <div style="padding-bottom:2%;">

            <div style="display:inline-block;" ng-click="active = !active" ng-class="{'expandcollapse-heading-collapsed': active, 'expandcollapse-heading-expanded': !active}">
                <p class="btn btn-primary">Highcharts</p>
                </p>
            </div>

            <div style="display:inline-block;" ng-click="active1 = !active1" ng-class="{'expandcollapse-heading-collapsed': active1, 'expandcollapse-heading-expanded': !active1}">
                <p class="btn btn-primary">Geocharts</p>
            </div>

            <div class="expandcollapse-item">

                <div class="slideDown" ng-hide="active">
                    <div id="containerGrafica" class="expand-collapse-content">
                    </div>
                </div>

                <div class="slideDown" ng-hide="active1">
                    <div  id="containerGrafica" class="expand-collapse-content">
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>
