<div style="padding-top: 2%;padding-bottom:3%;">
    <!-- CONTAINER -->
    <div class="container" style="background-color: rgb(46, 49, 49);padding:1% 1% 1% 1%; border-radius: 20px;box-shadow: 0px 0px 16px -2px rgba(0,0,0,0.52);">
        <div style="padding-bottom:2%;">

            <div style="display:inline-block;" ng-click="active = !active" ng-class="{'expandcollapse-heading-collapsed': active, 'expandcollapse-heading-expanded': !active}">
                <p class="btn btn-primary">Highcharts</p>
                </p>
            </div>

            <div style="display:inline-block;" ng-click="active1 = !active1" ng-class="{'expandcollapse-heading-collapsed': active1, 'expandcollapse-heading-expanded': !active1}">
                <p class="btn btn-primary">Geocharts</p>
            </div>

            <div class="expandcollapse-item">

                <div class="slideDown" ng-hide="active">
                    <div id="containerGrafica" class="expand-collapse-content">
                        <script>
                        /*global Highcharts*/
                            Highcharts.chart('containerGrafica', {

                                title: {
                                    text: 'Solar Employment Growth by Sector, 2010-2016'
                                },

                                subtitle: {
                                    text: 'Source: thesolarfoundation.com'
                                },

                                yAxis: {
                                    title: {
                                        text: 'Number of Employees'
                                    }
                                },
                                legend: {
                                    layout: 'vertical',
                                    align: 'right',
                                    verticalAlign: 'middle'
                                },

                                plotOptions: {
                                    series: {
                                        label: {
                                            connectorAllowed: false
                                        },
                                        pointStart: 2010
                                    }
                                },

                                series: [{
                                    name: 'Installation',
                                    data: [43934, 52503, 57177, 69658, 97031, 119931, 137133, 154175]
                                }, {
                                    name: 'Manufacturing',
                                    data: [24916, 24064, 29742, 29851, 32490, 30282, 38121, 40434]
                                }, {
                                    name: 'Sales & Distribution',
                                    data: [11744, 17722, 16005, 19771, 20185, 24377, 32147, 39387]
                                }, {
                                    name: 'Project Development',
                                    data: [null, null, 7988, 12169, 15112, 22452, 34400, 34227]
                                }, {
                                    name: 'Other',
                                    data: [12908, 5948, 8105, 11248, 8989, 11816, 18274, 18111]
                                }],

                                responsive: {
                                    rules: [{
                                        condition: {
                                            maxWidth: 500
                                        },
                                        chartOptions: {
                                            legend: {
                                                layout: 'horizontal',
                                                align: 'center',
                                                verticalAlign: 'bottom'
                                            }
                                        }
                                    }]
                                }

                            });
                        </script>
                    </div>
                </div>

                <div class="slideDown" ng-hide="active1">
                    <div id="containerGrafica" class="expand-collapse-content">
                    </div>
                </div>
            </div>



        </div>
    </div>
</div>
